<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">

    <footer class="footer footer-white">
        <div class="container">
            <a class="footer-brand" href="https://www.creative-tim.com/product/material-kit-pro">Material Kit PRO</a>
            <ul class="pull-center">
                <li>
                    <a href="https://www.creative-tim.com/" target="_blank">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/presentation" target="_blank">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com/" target="_blank">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license" target="_blank">
                        Licenses
                    </a>
                </li>
            </ul>
            <ul class="social-buttons float-right">
                <li>
                    <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-link btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-just-icon btn-link btn-instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="../static/assets/js/core/jquery.min.js" type="text/javascript" th:src="@{/assets/js/core/jquery.min.js}"></script>
    <script src="../static/assets/js/core/popper.min.js" type="text/javascript" th:src="@{/assets/js/core/popper.min.js}"></script>
    <script src="../static/assets/js/core/bootstrap-material-design.min.js" type="text/javascript" th:src="@{/assets/js/core/bootstrap-material-design.min.js}"></script>
    <script src="../static/assets/js/plugins/moment.min.js" th:src="@{/assets/js/plugins/moment.min.js}"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="../static/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript" th:src="@{/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/assets/js/plugins/nouislider.min.js" type="text/javascript" th:src="@{/assets/js/plugins/nouislider.min.js}"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../static/assets/js/plugins/bootstrap-tagsinput.js" th:src="@{/assets/js/plugins/bootstrap-tagsinput.js}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../static/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript" th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../static/assets/js/plugins/jasny-bootstrap.min.js" type="text/javascript" th:src="@{/assets/js/plugins/jasny-bootstrap.min.js}"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="../static/assets/js/plugins/jquery.flexisel.js" type="text/javascript" th:src="@{/assets/js/plugins/jquery.flexisel.js}"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="../static/assets/demo/modernizr.js" type="text/javascript" th:src="@{/assets/demo/modernizr.js}"></script>
    <script src="../static/assets/demo/vertical-nav.js" type="text/javascript" th:src="@{/assets/demo/vertical-nav.js}"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
    <script src="../static/assets/demo/demo.js" type="text/javascript" th:src="@{/assets/demo/demo.js}"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="../static/assets/js/material-kit.js?v=2.2.1" type="text/javascript" th:src="@{/assets/js/material-kit.js?v='2.2.1'}"></script>

</th:block>