<!--
 =========================================================
 Material Kit PRO - v2.2.1
 =========================================================

 Product Page: https://www.creative-tim.com/product/material-kit-pro
 Copyright 2022 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/assets/img/apple-icon.png" th:href="@{/assets/img/apple-icon.png}">
    <link rel="icon" type="image/png" href="../../static/assets/img/favicon.png" th:href="@{/assets/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        요리 레시피
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../../static/assets/css/material-kit.css?v=2.2.1" rel="stylesheet" th:href="@{/assets/css/material-kit.css?v='2.2.1'}"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function favoriteSend() {
            const user =$("#user").val();
            const recipe =$("#recipe").val();
            const FavoriteRecipe = {
                id : null,
                recipeId : recipeId,
                recipeSeq : recipeSeq,
                userEmail : user
            };
            $.ajax({
                url: "/api/v1/ajax/favorite",
                data: FavoriteRecipe,
                type: 'POST',
            }).done(function (data){
                $("#favoriteCheck").replaceWith(data);
            });
        }

        function noLogin() {
            alert("로그인 후 좋아요를 할 수 있습니다.");
        }
        /*]]>*/
    </script>

</head>
<body class="blog-post sidebar-collapse">

    <div th:replace="~{header :: header}"></div>

    <div class="page-header header-filter" data-parallax="true" filter-color="green" style="background-image: url('../../static/assets/img/food/recipe_cook.jpg');" th:style="'background-image: url(/assets/img/food/recipe_cook.jpg);'">
        <div class="container">
            <div class="row title-row">
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="tab-content">
                            <div class="tab-pane active" id="product-page1">
                                <div class="image-container" th:if="${recipe.attFileNoMain != ''}">
                                    <img class="img" src="../../static/assets/img/image_placeholder.jpg" th:src="${recipe.attFileNoMain}" alt="">
                                </div>
                                <div class="image-container" th:unless="${recipe.attFileNoMain != ''}">
                                    <img class="img" src="../../static/assets/img/image_placeholder.jpg" th:src="/assets/img/image_placeholder.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <form th:if="${user != null}">
                            <input type="hidden" id="recipeId" th:value="${recipe.id}">
                            <input type="hidden" id="recipeSeq" th:value="${recipe.rcpSeq}">
                            <input type="hidden" id="user" th:value="${user.email}">
                            <div id="favoriteCheck">
                                <button type="button" onclick="favoriteSend()" rel="tooltip" th:class="'btn btn-light btn-link' + ${isFavorite ? ' btn-rose' : ' btn-default'}">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </form>
                        <form th:unless="${user != null}">
                            <div id="">
                                <button type="button" onclick="noLogin()" rel="tooltip" class="btn btn-light btn-link" th:if="${isFavorite}">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h3 class="main-price">[[ ${recipe.rcpPat2} ]]</h3>
                        <h2 class="title"> [[ ${recipe.rcpNm} ]] </h2>
                        <h4 class="main-price">[[ ${recipe.rcpWay2} ]]</h4>
                        <div id="accordion" role="tablist">
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            레시피 재료
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>[[ ${recipe.rcpPartsDtls} ]]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            영양 정보 상세
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li th:if="${recipe.infoWgt > 0}">
                                                중량(1인분) : [[ ${recipe.infoWgt} ]]
                                            </li>
                                            <li th:if="${recipe.infoEng > 0}">
                                                열량 : [[ ${recipe.infoEng} ]]
                                            </li>
                                            <li th:if="${recipe.infoCar > 0}">
                                                탄수화물 : [[ ${recipe.infoCar} ]]
                                            </li>
                                            <li th:if="${recipe.infoPro > 0}">
                                                단백질 : [[ ${recipe.infoPro} ]]
                                            </li>
                                            <li th:if="${recipe.infoFat > 0}">
                                                지방 : [[ ${recipe.infoFat} ]]
                                            </li>
                                            <li th:if="${recipe.infoNa > 0}">
                                                나트륨 : [[ ${recipe.infoNa} ]]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${recipe.hashTag != ''}">
                            <div class="col-md-6 col-sm-6">
                                <span class="badge badge-pill badge-success">
                                    <p>#[[ ${recipe.hashTag} ]]</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section section-text">
                    <div class="row" th:each="manual, imgStat : ${recipeManuals}">
                        <div class="col-md-8 ml-auto mr-auto">
                            <div class="col-md">
                                <img class="card-img-detail" src="../../static/assets/img/image_placeholder.jpg" th:src="${recipeManualImages[imgStat.index].manualImg}" alt="">
                            </div>
                            <div class="info">
                                <div class="description">
                                    <p class="info-title">[[ ${manual.manual} ]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="related-products">
                <h3 class="title text-center">You may also be interested in:</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../../static/assets/img/examples/card-product1.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Trending</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Dolce &amp; Gabbana</a>
                                </h4>
                                <div class="card-description">
                                    Dolce &amp; Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red textured-leather.
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$1,459</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title="Saved to Wishlist" class="btn btn-just-icon btn-link btn-rose">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../../static/assets/img/examples/card-product3.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-muted">Popular</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Balmain</a>
                                </h4>
                                <div class="card-description">
                                    Balmain's mid-rise skinny jeans are cut with stretch to ensure they retain their second-skin fit but move comfortably.
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$459</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title="Save to Wishlist" class="btn btn-just-icon btn-link">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../../static/assets/img/examples/card-product4.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-muted">Popular</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Balenciaga</a>
                                </h4>
                                <div class="card-description">
                                    Balenciaga's black textured-leather wallet is finished with the label's iconic 'Giant' studs. This is where you can...
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$590</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../../static/assets/img/examples/card-product2.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Trending</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Dolce &amp; Gabbana</a>
                                </h4>
                                <div class="card-description">
                                    Dolce &amp; Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red textured-leather.
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$1,459</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-default" data-original-title="Save to Wishlist">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                itemsToScroll: 1,
                animationSpeed: 400,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 3
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 3
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });
    </script>

    <div th:replace="~{footer :: footer}"></div>

</body>
</html>